@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
    --radius: 0.6rem;
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

@layer theme {
    primary {
        @apply bg-neutral-900 text-neutral-100 dark:bg-neutral-300 dark:text-neutral-900;
    }
}